{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ profile_user.username }}'s Profile{% endblock %}

{% block content %}
<div class="container" style="padding-top: 15px;">
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <div class="text-center">
                <img src="{% static 'images/logo.png' %}" alt="App Logo" class="mb-4" style="width: 100px;">
            </div>
            <h2 class="text-center">{{ profile_user.username }}'s Profile</h2>
            <div class="text-center">
                <img src="{% if profile_user.profile_picture %}{{ profile_user.profile_picture.url }}{% else %}{% static 'images/default_profile.png' %}{% endif %}" class="rounded-circle profile-picture" alt="Profile Picture">
            </div>
            <p><strong>Username:</strong> {{ profile_user.username }}</p>
            <p><strong>Email:</strong> {{ profile_user.email }}</p>
            <a href="{% url 'post_list' %}" class="btn btn-primary btn-block">Back to Blog</a>
        </div>
    </div>
</div>
{% endblock %}
